  .rect {
    border: 2px solid red;
    left: -1000px;
    position: absolute;
    top: -1000px;
  }
  #img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28% 0 0 -50%;
  }
  .bg-primary {
    background: #fdcc52;
    background: -webkit-linear-gradient(#fdcc52, #fdc539);
    background: linear-gradient(#fdcc52, #fdc539);
  }
