/*
 *  HTML5 Device Mockups
 *
 *  By:
 *    Tomi Hiltunen
 *    tomi@mitakuuluu.fi
 *    http://fi.linkedin.com/in/tomihiltunen/
 *
 *    Angelos Arnis
 *    http://fi.linkedin.com/in/angelosarnis/
 *
 *  Inluded in this package:
 *    - iPhone5 (black/white, portrait/landscape)
 *    - iPad2 (black/white, portrait/landscape)
 *    - iMac
 *    - MacBook Pro (retina model)
 *    - Nexus 7
 *    - Lumia 920
 *    - Microsoft Surface
 *    - Galaxy S3
 *
 *  Added by ben182 (@beno182):
 *    - iPhone 6
 *    - iPhone 6 Plus
 *    - iPhone SE
 *    - iPad Air
 *    - iPad Air 2
 *    - iPad Pro
 *    - Macbook 2015
 *
 *
 */

 .rect {
  border: 2px solid #a64ceb;
  left: -1000px;
  position: absolute;
  top: -1000px;
}

#img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -173px 0 0 -300px;
}
.bg-primary {
  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539);
}









